{
  "passPerPreset": true,
  "presets": [
    "env",
    "stage-2",
    "react"
  ],
  "plugins": [
    ["relay", { "artifactDirectory": "./Components/__generated__" }],
    "transform-runtime"
  ]
}
